<div class="main-section d-flex justify-content-center ">
  <div class="main-body d-flex justify-content-center m-3 rounded">
    <div class="form-body shadow p-5 d-flex justify-content-center align-items-center">
      <form action="/records/{{edit._id}}{{#if edit}}?_method=PUT{{/if}}{{#if create}}create{{/if}}" method="post"
        class="d-flex flex-column justify-content-around">
      {{> message}}
        <div class="amount d-flex justify-content-between mb-3">
          <p class="mr-3 text-danger h5 align-self-center">* 請輸入花費 :</p>
          <input type="text" name="amount" class="rounded" placeholder="請輸入金額數字" style=" height: 40px;  outline: none;"
            value="{{amount}}">
        </div>
        <div class="expense-title d-flex justify-content-between mb-3">
          <p class="mr-3 text-danger h5 align-self-center">* 名稱 :</p>
          <input type="text" name="name" class="name rounded" placeholder="請輸入花費名稱" value="{{name}}"
            style="height: 40px;  outline: none;">
        </div>
        <div class="date d-flex justify-content-between mb-3">
          <p class="mr-2 h5 align-self-center">日期 :</p>
          <input type="date" name="date" class="align-self-stretch" value="{{date}}"
            style="width: 175px; height: 40px; outline: none;">
        </div>
        <div class="category d-flex justify-content-between mb-3">
          <p class="mr-5 h5 align-self-center">類別 :</p>

          <select name="category" class="custom-select rounded" style="width: 175px; height: 40px;" placeholder="請選擇類別"
            value="{{category}}">
            <option value="家居物業">家居物業</option>
            <option value="交通出行">交通出行</option>
            <option value="休閒娛樂">休閒娛樂</option>
            <option value="餐飲食品">餐飲食品</option>
            <option value="其他">其他</option>
          </select>
        </div>
        <div class="account d-flex justify-content-between mb-3">
          <p class="mr-5 h5 align-self-center">帳戶 :</p>
          <select name="account" class="custom-select rounded" style= "width: 175px; height: 40px;"
            value="{{account}}">
            <option value="現金">現金</option>
            <option value="第一銀行">第一銀行</option>
            <option value="第二銀行">第二銀行</option>
          </select>
        </div>
        <div class="amount d-flex justify-content-center mt-5">
          <button class="btn btn-warning mr-4 font-weight-bold">
            <h4 class="font-weight-bold">
              {{#if edit }}提交{{/if}}{{#if create }}新增支出{{/if}}
            </h4>
          </button>
          <a href="/" class="btn btn-success font-weight-bold">
            <h4 class="font-weight-bold">返回</h4>
          </a>
        </div>

      </form>
    </div>
  </div>
</div>